// ------------------------------------------------------------
// :: Social Media Colors
// ------------------------------------------------------------
// http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
// ------------------------------------------------------------

// Facebook Color Palette
$facebook-blue =          #3b5998;
$facebook-medium-blue =   #6d84b4;
$facebook-lighter-blue =  #afbdd4;
$facebook-lightest-blue = #d8dfea;


// Twitter Color Palette
$twitter-blue =           #55acee;
$twitter-dark-blue =      #0084b4;
$twitter-logo-blue =      #00aced;
$twitter-verified-blue =  #1dcaff;
$twitter-bg-blue =        #c0deed;


// Vimeo Color Palette
$vimeo-blue =             #45bbff;
$vimeo-sky =              #90d5ec;
$vimeo-powder =           #d1eef7;
$vimeo-purple =           #c09eda;
$vimeo-green =            #aad450;
$vimeo-yellow =           #f7b42c;
$vimeo-orange =           #ff8a3c;
$vimeo-red =              #fc575e;
$vimeo-pink =             #f27490;
$vimeo-magenta =          #f49ac1;
$vimeo-brown =            #ccaa55;
$vimeo-grey =             #99aabb;
$vimeo-mint =             #66cc99;


// Flickr Color Palette
$flickr-blue =            #0063dc;
$flickr-pink =            #ff0084;
$flickr-grey =            #999;



$facebook-color =         $facebook-blue;
$twitter-color =          $twitter-blue;
$vimeo-color =            $vimeo-blue;
$flickr-color =           $flickr-pink;
$google-plus-color =      #dd4b39;
$youtube-color =          #bb0000;
$linkedin-color =         #007bb6;
$instagram-color =        #517fa4;
$pinterest-color =        #cb2027;
$vine-color =             #00bf8f;
$tumblr-color =           #32506d;
$foursquare-color =       #0072b1;
$behance-color =          #1769ff;
$spotify-color =          #00e461;
$whatsapp-color =         #4dc247;
$dropbox-color =          #007ee5;
$skype-color =            #12A5F4;
$kickstarter-color =      #86C543;
$rss-color =              #ff6600;


$social = (
  facebook = $facebook-color,
  twitter = $twitter-color,
  vimeo = $vimeo-color,
  googleplus = $google-plus-color,
  youtube = $youtube-color,
  linkedin = $linkedin-color,
  instagram = $instagram-color,
  pinterest = $pinterest-color,
  vine = $vine-color,
  flickr = $flickr-color,
  tumblr = $tumblr-color,
  foursquare = $foursquare-color,
  dropbox = $dropbox-color,
  behance = $behance-color,
  spotify = $spotify-color,
  whatsapp = $whatsapp-color,
  skype = $skype-color,
  kickstarter = $kickstarter-color,
  rss = $rss-color
);
